*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width:100vw;
    background-color: rgb(6, 5, 56);
}
.supercontainer{
    height: 100%;
    width:100%;
    color: white;
}
.head{
    display:flex;
    justify-content: space-between;
}
.head > .first{
    font-size: 3rem;
    text-decoration-line: underline;
    padding-left: 2rem;
    color: aquamarine;
}
.head > .second{
    margin-right:6rem;
}
nav{
    margin-top: 2rem;
}
nav > a{
    font-size: 1.4rem;
    color: white;
    margin-left: 1rem;
    margin-right:1rem;
}
.main{
    padding-top:8rem;
}
.image1{
    width: 300px;
    border-radius:10px;
    float:left;
    margin-left:1rem;
}
.infobox{
    width: 50rem;
    height:20rem;
    /* background-color:; */
    float:right;
    margin-right: 15rem;
    margin-top:1rem;
}
.infobox1{
    max-width: 60%;
    font-size:2rem;
}
span{
    font-size: 3.5rem;
    text-decoration-line:underline;
}
.infobox2{
    max-width:60%;
    font-size:1.5rem;
}