*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}
body{
    width:100vw;
    height:auto;
}
.supercontainer{
    width:100%;
    height:100%;
   background-color:rgb(9, 12, 54);
}

.head{
    color: white;
    
}
span{
    font-size:70px;
    color:rgba(16, 210, 236, 0.849);
    text-decoration-line: underline;
}
.introduct > p{
    font-size:30px;
}
.vikImg{
    width:300px;
    float: right;
}
.navi{
    background-color: rgb(2, 4, 65);
    margin-top: 6rem;
}
nav > a {
    color: white;
    font-size: 2rem;
    margin-right: 1rem;
    margin-left: 1rem;
}
nav > p{
    font-size: 1.5rem;
    padding-bottom: 1.5rem;
}
.insta{
    width:20px;
    height: auto;
}
.yout{
    width: 35px;
}
.whats{
    width: 40px;
}
.face{
    width:35px;
}
.linked{
    width: 30px;
}
.head2 > img{
    /* margin-top: 6rem; */
    width: 400px;
    float: left;
}
h2{
    font-size: 2rem;
    margin-top: 4rem;
}